POSTGRES_USER=portfolio
POSTGRES_PASSWORD=yout_password
POSTGRES_DB=portfolio
ADMIN_TOKEN=your_token
# Generate token command:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64url'))"